.accountPageContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}
.temperaturePageButtonDiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.leftPartPage{
    flex: 1;
    height: 95vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.rightPartPage{
    flex: 1;
    height: 95vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.leftUpDiv{
    width: 100%;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.leftDownDiv{
    width: 100%;
    flex: 1;
}
.temperaturePageLeftDown{
    display: flex;
    align-items: center;
    justify-content: center;
}
.temperaturePageOperationsDiv{
    width: 75%;
    height: 45vh;
    background-color: #74B49B;
    border-radius: 25px;
    border: 5px solid #062743 ;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin-top: 20px;
}
.temperaturePageOperationsDiv > div{
   
    margin-left: 20px;
    margin-right: 20px;
}
.temperaturePageWidgetTitle{
    text-align: center;
    font-size: 25px;
}
.temperaturePageDataDiv{
    text-align: center;
    font-size: 75px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.temperaturePageDataSpan2{
    font-size: 50px;
}
.temperaturePageDataSpan1{
    font-size: 16px;
}
.rightUpPart{
    width: 100%;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.rightDownPart{
    width: 100%;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.datePickerDiv{
    border: 5px solid #062743;
    background-color: #74B49B;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    width: 300px;
    height: 290px;
}
.timeKeeperDiv{
    border: 5px solid #062743;
    background-color: #74B49B;
    width: 280px;
    height: 360px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
}