.greenhouseTable{
    border: 1px solid red;
    border-spacing:0;
}
th, td {
    border: 1px solid red;
}
.tableDiv{
   margin-top: 20px;
   overflow-y: auto;
}
.greenhouseSettingsComponent{
    border: 2px solid blue;
    width: 80vw;
    height: 60vh;
    display: flex;
    justify-content: center;
}